* {
  font-family: "微软雅黑";
}
.content {
  margin-top: 50px;
  margin-left: 50px;
}
.content .input-box {
  margin-bottom: 50px;
}
.content .input-box .item {
  display: inline-block;
  width: 200px;
  height: 30px;
  text-align: right;
  font-size: 22px;
}
.content .input-box input[type="radio"] {
  width: 22px;
  height: 22px;
}
.content .input-box span,
.content #company label {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  font-size: 20px;
  text-align: right;
}
.content .input-box select.city{
  width: 100px;
  height: 30px;
  padding: 0 5px;
  margin-right: 40px;
  border-radius: 5px;
}
.content .input-box select.usy{
  width: 200px;
  height: 30px;
  padding: 0 5px;
  border-radius: 5px;
}
.content .input-box #address {
  width: 350px;
  height: 30px;
  padding: 0 5px;
  border: 1px solid #A9A9A9;
  border-radius: 5px;
}
.content #company {
  display: none;
}